<div>
   <button><a href="/login" class="btn btn-primary"id="login-btn" type="submit">Login</a></button>
   <button><a href="/signup" class="btn btn-primary"id="login-btn" type="submit">Create an Account</a></button>
</div>