<div>

<div class="card1 pb-5">
                        <div class="row"> <img src="./images/cadmiumCircle.png" class="logo"></div>
                        <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="image"> </div>
                       <h1 class="landing-page-text"><center>Find Art Events In Richmond, VA</center></h1>
   {{!-- <h2><center>The App for Art Events in Richmond, VA</center></h2>
   <h3>Please login or create an account to view, add, and save art events in the Richmond area</h3> --}}
                    </div>
</div>


<div>
  <center><button><a href="/login" class="btn btn-primary"id="login-btn" type="submit">Login</a></button></center>
   <center><button><a href="/signup" class="btn btn-primary"id="login-btn" type="submit">Create an Account</a></button></center>

</div>