<div>
   <h1>Welcome to Cadmium!</h1>
   <h2>The App for Art Events in Richmond, VA</h2>
   <h3>Please login or create an account to view, add, and save art events in the Richmond area</h3>
</div>


<div>
   <button><a href="/login" class="btn btn-primary"id="login-btn" type="submit">Login</a></button>
   <button><a href="/signup" class="btn btn-primary"id="login-btn" type="submit">Create an Account</a></button>
</div>