<div>
    <button href="/login" class="btn btn-primary"id="login-btn" type="submit">Login</button>
    <button href="/signup" class="btn btn-primary"id="login-btn" type="submit">Create an Account</button>
</div>