<div class="column">
<h2 class="title pb-4"><mark><Create a New Account Here!</mark></h2><hr>
<span style="background-color:#D22B2B"></span>
<form class="signup-form font-headings">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">Email Address:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password (*Must be at least 8 characters):</label>
    <p class="para-font"></p>
    <input type="password" id="password-signup" />
  </div>
  {{!-- <div>    
    <label for="password-signup">Confirm Password:</label>
    <input type="password" id="confirm-password-signup"/>
  </div> --}}
  <div>
    <button type="submit" class="button is-primary btn-primary">Sign up!</button>
  </div>
</form>
</div>

<script src="/js/signup.js"></script>